.App {
  background: none;
  width: 100%;
  height: 100%;
}
body {
  background-image: url("./backgroundimage.jpg");
}
.column-wrapper {
  height: 100vh;
}
.portfolio-header {
  color: white;
}
.h1 {
  display: block;
  margin: 0;
  margin-bottom: 0;
}
.under-title-btns {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid white;
  margin: 0.5px;
}
Row Col .col-1 {
  background-color: black;
}
#col-1,
#col-2,
#col-3 {
  background: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
