.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.section {
  height: 100%;
}

.section-Container {
  width: 250px;
  margin: 10px;
}
.text-container {
  position: relative;
  height: 100%;
}

.svg-container {
  width: 100%;
}
.svgWave {
  display: block;
}
p {
  margin: 0;
}
